<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608472639815-19rfa741th15f7j9phubno5l5f47m714.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608472639815-19rfa741th15f7j9phubno5l5f47m714</string>
	<key>API_KEY</key>
	<string>AIzaSyDGJbHoiV1jBRtkDHzt9TejtbJjtiJhUGw</string>
	<key>GCM_SENDER_ID</key>
	<string>608472639815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shionkoga.itemmanager</string>
	<key>PROJECT_ID</key>
	<string>item-manager-93816</string>
	<key>STORAGE_BUCKET</key>
	<string>item-manager-93816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608472639815:ios:1f0cbd484a1a152c8f8462</string>
</dict>
</plist>